<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="${QUARKUS_LOG_CONSOLE_FORMATTER:-CONSOLE}"/>
    </root>

    <!-- Quarkus 特定日志配置 -->
    <logger name="io.quarkus" level="INFO"/>
    <logger name="com.asiainfo.metrics" level="INFO"/>
    <logger name="org.sqlite" level="INFO"/>
    <logger name="io.minio" level="INFO"/>
    <logger name="io.vertx" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>
